<h1>Get to know Joel</h1>

<h4><a href="https://www.qwcomedy.com">Click here to see Quick wits Comedy</a></h4>
<br>

<h4><a href="https://baconsale.com/">Click here to visit the Baconsale site</a></h4>
<br>

<a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" alt="Baconsale" height="400"></a>

