@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    
    <h4>Meet Joel</h4>

    <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Hilton" height="400" class="rounded">
    
    
</div>